@page "/"

@using WaiterSummoner.Services
@inject SummonNameGeneratorService SummonNameGeneratorService

@if (currentSummonName == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <h1>Bom dia, meu <b id="current-summon-name">@currentSummonName</b></h1>
    <p id="current-phrase">@currentPhrase</p>
}

@code {
    private string currentSummonName;
    private string currentPhrase;

    protected override async Task OnInitializedAsync()
    {
        currentSummonName = await SummonNameGeneratorService.GetRandomSummonNameAsync();
        currentPhrase = await SummonNameGeneratorService.GetRandomMotivationalPhraseAsync();
    }
}
