@page "/"

@using WaiterSummoner.Services
@inject CrawlerService CrawlerService
@inject DailyWordGeneratorService DailyWordGeneratorService

@if (dailyWord == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <h1>Bom dia, meu <b id="current-summon-name">@dailyWord</b></h1>
    <p id="current-phrase">@dailyPhrase</p>
}

@code {
    private string dailyWord;
    private string dailyPhrase;

    protected override async Task OnInitializedAsync()
    {
        dailyWord = await DailyWordGeneratorService.GetRandomWordAsync();
        dailyPhrase = await CrawlerService.GetDailyMotivationalPhraseAsync();
    }
}
